@import "vars";
@import "global";
@import "fonts";

// start header
.header__top{
  background-color: #fff;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__text {
  color: $text;
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
  a {
    color: $text;
  }
}
.header__btn {
  width: 72px;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
}
.header__btn-login {
  background-color: $green;
  margin-right: 7px;
}
.header__btn-register, 
.header__btn-logout {
  background-color: $red;
}
.header__menu {
  background-color: $bg;
}
.menu {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu__list {
  li {
    display: inline-block;
    &+li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
    @include f500;
  }
}
.header__circle{
  display: none;
  &.active{
    display: block;
  }
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  &::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }
  span{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
    top: -7px;
    right: -7px;
    color: #fff;
  }
}
.header__box{
  display: flex;
  align-items: center;
}
.header__btn-login--off{
  display: none;
}
.header__btn-logout{
  display: none;
  &.header__btn-login--on{
    display: block;
  }
}
.notification{
  span{
    background-color: $yellow;    
  }
}
.message{
  span{
    background-color: $tomato;
  }
}
.basket{
  span{
    background-color: $green;
  }
}
.user{
  margin-right: 25px;
  padding-right: 20px;
  margin-left: 20px;
  position: relative;
  &::before{
    content: '\f107';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    right: 0;
    color: #707070;
  }
  &__inner{
    display: flex;
    align-items: center;
  }
  &__images{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
  }
  &__info{
    font-size: 14px;
    line-height: 24px;
  }
  &__name{  
    color: #222;  
    @include f500;
  }
  &__money{
    color: $green;
    @include f700;
  }
}
.user__menu{
  top: 72px;
  left: 20px;
  border: 0px solid #ccc;
  position: absolute;
  background-color: #fff;
  padding: 0px 20px;
  width: 158px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 0;
  overflow: hidden;
  a{
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}
.user__box,
.basket__box,
.message__box,
.notification__box{
  position: relative;
  height: 72px;
  margin-top: 17px;
  &:hover{
    .user__menu{
      border-width: 1px;
      padding: 20px;
      height: auto;
      overflow: auto;
    }
  }
}
.circle__menu{
  position: absolute;
  top: 62px;
  right: 0;
  border-top: 0px solid #e0e0e0;
  height: 0;
  overflow: hidden;
  transition: all .3s;
}
.basket__box,
.message__box,
.notification__box{
  margin-left: 15px;
  height: 62px;
  margin-top: 28px;
  &:hover{
    .header__circle{
      &::before{
        color: $bg;
      }
    }
    .circle__menu{
      border-width: 1px;
      height: auto;
    }
    .circle__item{
      padding: 23px;
      border-width: 1px;
    }
  }
}
.circle__item{
  border: 0px solid #e0e0e0;
  border-left-width: 1px;
  border-right-width: 1px;
  padding: 0 23px;
  transition: all .3s;
  background-color: #fff;
  border-top: none;
  display: flex;
  align-items: center;
  width: 269px;
  position: relative;
  &::before{
    position: absolute;
    top: 27px;
    right: 28px;
    color: #b0bec5;
    font-size: 16px;
  }
}
.circle__images{
  margin-right: 15px;
}
.circle__info-name{
  @include f500;
  color: $bg;
}
.circle__info-thema{
  color: $green;
  font-size: 12px;
}
.circle__info-price{
  @include f500;
  color: #000;
  font-size: 16px;
}
.circle__info-date{
  color: #707070;
  font-size: 10px;
}
.basket__summ{
  padding: 16px 17px 12px;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #fff;
}
.basket__title{
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  @include f700;
  margin-bottom: 15px;
  font-size: 16px;
  color: $bg;
}
.basket__btn{
  color: #fff;
  @include f700;
  font-size: 14px;
  padding: 12px 5px;
  width: 100px;
  background-color: $green;
  text-align: center;
}
.basket__btn-checkout{
  margin-left: 6px;
  background-color: $red;
  width: 123px;
}
.message__menu,
.notification__menu{
  .circle__images{
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .circle__info{
    line-height: 18px;
  }
}
.icons__color::before{
  color: $tomato;
}
// end header
// start search

.search {
  min-height: 533px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.page-search{
    min-height: 230px;
    .search__inner{
      padding: 55px 0px 70px;
      &-text{
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  padding: 155px 0px 100px;
  color: #fff;
  text-align: center;

  &-title {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 10px;
    @include f700;
  }

  &-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 58px;
    @include f500;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      padding-left: 25px;
      padding-right: 60px;
      font-size: 14px;
      @include f500;
      color: #90a4ae;

      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }

    button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 18px;
      right: 20px;
    }
  }
}

// end search
// start products

.products {
  padding: 100px 0px 110px;
  background-color: $grey;
}

.products__inner-btn {
  margin-bottom: 60px;
  text-align: center;

  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;

    &+button {
      margin-left: 5px;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;

  &-img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
  }

  &-title {
    color: $bg;
    font-size: 18px;
    display: block;
  }

  &-category {
    font-size: 14px;
    color: $green;
    display: block;
  }

  &-price {
    color: $bg;
    @include f700;
    font-size: 20px;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 70px;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;

    .avatar {
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }

    span {
      font-size: 14px;
      @include f500;
    }
  }

  &-star {
    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;

  button {
    margin: 45px 5px 0;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
  }
}

// end products
// start product-slider
.product-slider {
  padding: 110px 0px 120px;

  .slick-dots {
    margin-top: 50px;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 3px;

      &.slick-active {
        button {
          background-color: $green;
        }
      }

      button {
        background-color: rgb(232, 232, 232);
        border-radius: 50%;
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

// end product-slider
// start advantages

.advantages {
  background-color: $bg;
  padding: 110px 0;
}

.advantages__title {
  color: #fff;
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;

  &:hover {
    cursor: pointer;

    .advantages__item-images {
      background-color: $green;
    }

    .advantages__item-title {
      color: $green;
    }

    .advantages__item-images {
      g {
        fill: #fff;
      }
    }
  }

  &-images {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all .3s;
  }

  &-title {
    margin-bottom: 25px;
    color: #fff;
    @include f500;
    font-size: 24px;
    transition: all .3s;
  }

  &-text {
    font-size: 15px;
  }
}

//end advantages
// start author

.author {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    max-width: 650px;
    min-height: 215px;
    width: 100%;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    max-width: 270px;
    margin-right: 45px;
    span{
      @include f700;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}

// end author
// start tutorial
.tutorial{
  padding: 70px 0px 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    max-width: 370px;
    width: 100%;
  }
}
.tutorial__item{
  &-images{
    min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-title{
    text-align: center;
    @include f700;
    background-color: #f8f8f8;
    font-size: 24px;
    padding: 30px 10px;
    color: $bg;
  }
}
// end tutorial
// start footer
.footer{
  background-color: $bg;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }
}
.footer__copy{
  border: 1px solid #424d53;
}
.footer__copy-text{
  color: #919699;
  text-align: center;
  padding: 25px 0;
}
.footer__col{
  max-width: 270px;
  width: 100%;
  &-menu{
    max-width: 220px;
    width: 100%;
  }
  &-title{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}
.footer__info{
  margin-top: 18px;
  @include f500;
  color: #fff;
  padding-left: 30px;
  position: relative;
  &::before{
    content: '\f041';
    font-family: 'icomoon';
    color: $green;
    position: absolute;
    left: 0;
    font-size: 18px;
  }
}
.footer__info-phone{
  &::before{
    content: '\f095';
  }
}
.footer__col-list{
  a{
    color: #b7c3c8;
    margin-bottom: 13px;
    padding-left: 22px;
    position: relative;
    &::after{
      content: '\f105';
      position: absolute;
      left: 0;
      font-size: 18px;
      color: $green;
      font-family: 'icomoon';
    }
  }
}
.footer__social-link{
  margin-bottom: 33px;
  li{
    display: inline-block;
    & + li{
      margin-left: 7px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url('../images/css_sprites.png');
  }
}
.link-facebook{
  background-position: -56px 0;
}
.link-twitter{
  background-position: -28px -28px;
}
.link-youtube{
  background-position: 0 -28px;
}
.link-pinterest{
  background-position: -28px 0;
}
.link-linkedin{
  background-position: 0 0;
}
.footer__form-title{
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
}
.footer__form{
  position: relative;
  input{
    color: #fff;
    background-color: #2f3c43;
    padding-left: 13px;
    padding-right: 50px;
    font-size: 14px;
    border: none;
    height: 40px;
    display: block;
    width: 100%;
    &::placeholder{
      color: #697378;
      font-size: 14px;
    }
  }
  button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 43px;
    height: 40px;
    background-color: $green;
    border: none;
    cursor: pointer;
    &::before{
      content: '\f124';
      font-family: 'icomoon';
      font-size: 20px;
      color: #fff;
      position: absolute;
      top: 11px;
      left: 13px;
    }
  }
}
// end footer



// start product-page
.product-page__inner{
  display: flex;
  padding-bottom: 110px;
}
.product-page__aside{
  margin-right: 30px;
}
.aside__item{
  background-color: #fff;
  border: 1px solid #dedede;
  margin-bottom: 30px;
  padding: 0px 32px 32px;
  width: 270px;
}
.aside__title{
  border-bottom: 1px solid #dde3e8;
  color: $bg;
  font-size: 20px;
  @include f700;
  padding: 22px 0px 19px;
}
.category__list{
  padding-top: 10px;
  li{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    padding-left: 20px;
    position: relative;
    &::before{
      content: '\f105';
      position: absolute;
      left: 0;
      font-size: 18px;
      color: #8bc34a;
      font-family: 'icomoon';
    }
  }
  a{
    color: $bg;
  }
  span{
    color: #90a4ae;
    margin-left: 10px;
  }
}
.price-range{
  form{
    padding-top: 20px;
  }
  button{
    margin-top: 55px;
    padding: 16px 10px;
    text-align: center;
    width: 100%;
    display: block;
    background-color: $green;
    @include f500;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    &::before{
      content: '\f002';
      position: absolute;
      left: 58px;
      top: 15px;
      font-size: 15px;
      color: #fff;
      font-family: 'icomoon';
    }
  }
}
.irs--flat .irs-line{
  height: 5px;
  background-color: #f2f5f8;
}
.irs--flat .irs-bar{
  background-color: $bg;
  height: 5px;
}
.irs--flat .irs-handle{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid $green;
  background-color: #fff;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-max, .irs--flat .irs-min{
  display: none;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
  display: none;
}
.irs-from, .irs-single, .irs-to{
  top: 45px;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
}
.irs--flat .irs-handle{
  top: 19px;
}

.product-page__aside{
  .product__item-img{
    min-height: 120px;
  }
  .product__item{
    box-shadow: none;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
  .product__item-content{
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }
  .product__item-info{
    padding: 0;
    min-height: 0;
  }
  .product__item-title{
    font-size: 16px;
  }
  .product__item-price{
    font-size: 16px;
  }
  .product__item-starnum{
    display: none;
  }
  .rate-star{
    margin-right: 0;
  }
  .product__item-author .avatar{
    margin-right: 9px;
  }
  .jq-ry-container{
    padding: 0;
  }
}
.aside__product-item{
  .product__item:last-child{
    border: none;
    padding-bottom: 0;
  }
  .product__item:first-child{
    margin-top: 25px;
  }
}
.top-sellers__link{
  padding: 16px 10px;
  color: #fff;
  background-color: $green;
  text-align: center;
  display: block;
  @include f500;
}

.product-page__filter{
  background-color: #fff;
  border: 1px solid #dedede;
  margin-bottom: 30px;
  padding: 0px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #98a4ae;
    outline: none;
    &.active{
      color: $green;
    }
  }
}
.product-page__filter-sort{
  color: #707070;
  font-size: 14px;
  display: flex;
  align-items: center;
}
button.icon-sort-amount-desc{
  font-size: 18px;
  color: #455a64;
}
button.icon-unsorted{
  font-size: 14px;
  color: #707070;
}
.product-page__content{
  width: 100%;
}

.product-page__content{
  .product__item{
    background-color: #fff;
    max-width: 270px;
    transition: all .5s;
  }
  .product__item-img{
    min-height: 180px;
  }
  .product__item-content{
    padding: 10px 20px;
  }
  .product__item-title{
    font-size: 16px;
  }
  .product__item-info{
    min-height: 65px;
    padding: 10px 20px;
  }
  .rate-star{
    margin-right: 5px;
  }
  .jq-ry-container{
    padding: 0;
  }
}
.product-page__items{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.pagination__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 6px;
    }
  }
  a,
  span{
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 16px;
    color: $bg;
    @include f500;
    &.active{
      color: #fff;
      background-color: $red;
    }
  }
}

.product__item-text{
  display: none;
}
.product__item-price{
  span{
    display: none;
  }
}
.product__item-list{
  display: none;
  .icon-comment-o,
  .icon-heart-o{
    display: inline-block;
    font-size: 12px;
    color:#b0bec5;
    padding-left: 50px;
    border-left: 1px solid #aeb4bb;
    position: relative;
    span{
      @include f500;
      color: $bg;
    }
    &::before{
      font-size: 16px;
      color: $green;
      position: absolute;
      left: 20px;
    }
  }
  .icon-comment-o{
    padding-right: 30px;
    &::before{
      top: -2px;
    }
  }
}
.product__item{
  &.list{
    max-width: 100%;
    .product__item-img{
      float: left;
      width: 240px;
      min-height: 100%;
    }
    .product__item-text{
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .product__item-price{
      font-size: 30px;
      span{
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        margin-top: 30px;
      }
    }
    .product__item-name{
      max-width: 480px;
    }
    .product__item-content{
      padding-top: 23px;
    }
    .product__item-list{
      display: block;
    }
    .product__item-star{
      margin-right: 30px;
      margin-left: auto;
    }
  }
}
// end product-page







@import 'media';